<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="homePage">
      <div class="title">
        <span class="titleAnimation" style="--i: 1;">Y</span>
        <span class="titleAnimation" style="--i: 2;">-</span>
        <span class="titleAnimation" style="--i: 3;">2</span>
        <span class="titleAnimation" style="--i: 4;">3</span>
        <span class="titleAnimation" style="--i: 5;">&nbsp;</span>
        <span class="titleAnimation" style="--i: 6;">S</span>
        <span class="titleAnimation" style="--i: 7;">H</span>
        <span class="titleAnimation" style="--i: 8;">A</span>
        <span class="titleAnimation" style="--i: 9;">C</span>
        <span class="titleAnimation" style="--i: 10;">K</span>
      </div>
      <div class="menu">
        <ul>
          <li>
            <button style="filter: drop-shadow(0px 0px 20px rgb(1, 247, 206));">
              Multiplayer
            </button>
          </li>
          <li>
            <button
              style="filter: hue-rotate(40deg) drop-shadow(0px 0px 20px blue);"
            >
              SinglePlayer
            </button>
          </li>
          <li>
            <button
              style="
                filter: hue-rotate(252deg) drop-shadow(0px 0px 20px orange);
              "
            >
              Scoreboard
            </button>
          </li>
          <li>
            <button
              style="filter: hue-rotate(180deg) drop-shadow(0px 0px 20px red);"
            >
              Rules
            </button>
          </li>
        </ul>
      </div>
    </div>
    <script></script>
  </body>
</html>
