<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="homePage">
      <div class="title">
        <span class="titleAnimation" style="--i: 1;">Y</span>
        <span class="titleAnimation" style="--i: 2;">-</span>
        <span class="titleAnimation" style="--i: 3;">2</span>
        <span class="titleAnimation" style="--i: 4;">3</span>
        <span class="titleAnimation" style="--i: 5;">&nbsp;</span>
        <span class="titleAnimation" style="--i: 6;">S</span>
        <span class="titleAnimation" style="--i: 7;">H</span>
        <span class="titleAnimation" style="--i: 8;">A</span>
        <span class="titleAnimation" style="--i: 9;">C</span>
        <span class="titleAnimation" style="--i: 10;">K</span>
      </div>
      <div class="menu">
        <ul>
          <li>
            <button style="filter: drop-shadow(0px 0px 10px rgb(1, 247, 206));">
              Multiplayer
            </button>
          </li>
          <li>
            <button
              style="filter: hue-rotate(40deg) drop-shadow(0px 0px 10px blue);"
            >
              SinglePlayer
            </button>
          </li>
          <li>
            <button
              style="
                filter: hue-rotate(252deg) drop-shadow(0px 0px 10px orange);
              "
            >
              Scoreboard
            </button>
          </li>
          <li>
            <button
              style="filter: hue-rotate(180deg) drop-shadow(0px 0px 10px red);"
              onclick="OpenRulesTab()"
            >
              Rules
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="rules" id="rules">
      <h1>RULES FOR TIC-TAC-TOE</h1>
      <ol>
        <li>
          <p>The game is played on a grid that's 3 squares by 3 squares.</p>
        </li>
        <li>
          <p>
            You are X, your friend (or the computer ) is O. Players take turns
            putting their marks in empty squares.
          </p>
        </li>
        <li>
          <p>
            The first player to get 3 of her marks in a row (up, down, across,
            or diagonally) is the winner.
          </p>
        </li>
        <li>
          <p>
            When all 9 squares are full, the game is over. If no player has 3
            marks in a row, the game ends in a tie.
          </p>
        </li>
      </ol>
      <button onclick="CloseRuleTabe()">&times;</button>
    </div>
    <script>
      const rules = document.getElementById("rules");
      function OpenRulesTab() {
        rules.style = "display:flex;";
      }
      function CloseRuleTabe() {
        rules.style = "display:none;";
      }
    </script>
  </body>
</html>
