* {
  margin: 0;
  padding: 0;
}
body {
  background: url(./images/bg.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 80%;
  border: 2px solid whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homePage .title {
  color: white;
  margin-bottom: 20px;
}
.homePage .title span {
  display: inline-block;
  font-size: min(12vw, 12vh);
  margin: 0;
  padding: 0;
}
.homePage .menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage .menu ul li {
  margin: 5px;
}
.homePage .menu ul li button {
  font-size: min(5vw, 5vh);
  cursor: pointer;
  font-family: chopsic;
  background: transparent;
  color: white;
  border: none;
  transition: 0.5s;
  padding: 3px;
  border-radius: 10px;
}

.homePage .menu ul li button:hover {
  transform: scale(1.1);
  background: #00ff99;
  color: black;
}

.titleAnimation {
  animation: attentionSeeker 60s;
  animation-iteration-count: infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes attentionSeeker {
  0%,
  1.33%,
  100% {
    transform: translateY(0);
  }
  0.66% {
    transform: translateY(-100%);
  }
}

.rules {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: linear-gradient(to top, #ff0099, #fd1c03);

  width: 80%;
  height: 80%;
  border: 10px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.rules h1 {
  font-size: min(7vw, 7vh);
  margin: 20px;
  text-align: center;
}
.rules p {
  font-size: min(3vw, 3vh);
  margin: 20px;
  text-align: justify;
}
.rules button {
  font-size: 40px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.single-player-board {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: linear-gradient(to top, #00ffff, #0033ff);
  width: 80%;
  height: 80%;
  border: 10px solid blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 9999;
}
.single-player-board button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: min(6vh, 6vw);
  font-family: chopsic;
}
.logs {
  max-height: 50px;
  overflow: auto;
}

.multi-layer-board {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: linear-gradient(to top, #00ff66, #00ff00);
  width: 80%;
  height: 80%;
  border: 10px solid green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 9999;
}
.multi-layer-board button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: min(6vh, 6vw);
  font-family: chopsic;
}
.Multilogs {
  max-height: 50px;
  overflow: auto;
}
